@model CNPMNC.Data.Models.ChiTietPKB

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Areas/QuanLy/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ChiTietPKB</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PhieuKhamBenh)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PhieuKhamBenh.PhieuKhamBenhID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SoLuong)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SoLuong)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Thuoc)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Thuoc.ThuocID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DonVi)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DonVi.DonViID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CachDung)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CachDung.CachDungID)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ChiTietPKBID" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
