@model IEnumerable<CNPMNC.Data.Models.DSBenhNhan>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/QuanLy/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="row" style="float:right"><a asp-area="QuanLy" asp-controller="QuanLyChung" asp-action="index"><img src="~/images/icon/cancel.png" /></a></div>

<div class="container" style="text-align:center">
    <h1>Danh sách bệnh nhân</h1>

</div>

<p>
    <a asp-area="QuanLy" asp-controller="DSBenhNhans" asp-action="Create">Thêm Bệnh Nhân</a>

</p>
<table class="table">
    <thead>
        <tr>
            <th>
               Bệnh nhân
            </th>
            <th>
              Loại bệnh
            </th>
            <th>
               Ngày khám
            </th>
            <th>
             Triệu chứng
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.BenhNhan.HoTen)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LoaiBenh.TenLoaiBenh)
                </td>
                <td>
                    @item.NgayKham
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TrieuChung)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.DSBenhNhanID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.DSBenhNhanID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.DSBenhNhanID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
