@model CNPMNC.Data.Models.CachDung

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/QuanLy/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>CachDung</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TenCachDung)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TenCachDung)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BaoCaoSuDungThuoc)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BaoCaoSuDungThuoc.BaoCaoID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CachDungID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
