@model CNPMNC.Data.Models.HoaDon

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/QuanLy/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>HoaDon</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BenhNhan)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BenhNhan.BenhNhanID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NgayKham)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NgayKham)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TienKham)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TienKham)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TienThuoc)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TienThuoc)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BaoCaoDoanhThu)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BaoCaoDoanhThu.BaoCaoID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.HoaDonID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
