@model IEnumerable<CNPMNC.Data.Models.HoaDon>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/QuanLy/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BenhNhan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NgayKham)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TienKham)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TienThuoc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BaoCaoDoanhThu)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BenhNhan.BenhNhanID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayKham)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TienKham)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TienThuoc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BaoCaoDoanhThu.BaoCaoID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.HoaDonID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.HoaDonID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.HoaDonID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
