@model CNPMNC.Data.Models.BaoCaoSuDungThuoc

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/QuanLy/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>BaoCaoSuDungThuoc</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Thang)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Thang)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SoLuong)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SoLuong)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.BaoCaoID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
