@model IEnumerable<CNPMNC.Data.Models.BaoCaoSuDungThuoc>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/QuanLy/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Thang)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SoLuong)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Thang)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoLuong)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.BaoCaoID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.BaoCaoID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.BaoCaoID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
